/*  */
body{
    font-family: sans-serif; 
    font-size: 16px;
}
#tasks-list{
    display: flex;
    flex-flow: row wrap;
   justify-content: space-between;
}
.task-li{
    list-style-type: none;
}
.task-desc{
font-size: 1.2rem;
font-variant: small-caps;
}

.card-title{
    text-transform: capitalize;
}